.ios ion-card {
  height: calc(100vh - 44px);
}

.md ion-card {
  height: calc(100vh - 56px);
}

.big-size {
  font-size: 2em;
}

ion-col {
  border-top: 1px solid var(--ion-color-light-shade);
  border-right: 1px solid var(--ion-color-light-shade);
}
