.ios ion-card {
  height: calc(100vh - 44px);
}

.md ion-card {
  height: calc(100vh - 56px);
}

.big-size {
  font-size: 2em;
}

ion-col {
  border-top: 1px solid var(--ion-color-light-shade);
  border-right: 1px solid var(--ion-color-light-shade);
}

.ion-valid {
  --highlight-background: 0px;
}

.blink {
  animation: blinker 0.8s linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}