::ng-deep h1 {
  white-space: nowrap;
}

ion-item::part(native) {
  padding: 0px!important;
}

.padding-left-12 {
  padding-left: 12px;
}

.no-bottom-border {
  border-bottom: 0px;

}

.border-vertical {
  border-top: 1px solid var(--ion-color-light-shade);
  border-bottom: 1px solid var(--ion-color-light-shade);
}
