<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list>
          <ion-list-header [class]="isShe ? 'padding-left-12' : 'ion-margin-vertical padding-left-12'">
            <h1>Máy tính</h1>
          </ion-list-header>
          <ion-note class="ion-margin-vertical padding-left-12" *ngIf="isShe; else noName" (click)="clickName()">
            Chúc gấu yêu ngày mới tốt lành nhé <ion-icon name="heart" color="danger"></ion-icon>
          </ion-note>
          <ng-template #noName>
            <ion-note class="padding-left-12">Chúc {{ name }} 1 ngày tốt lành!!!</ion-note>
          </ng-template>
        </ion-list>

        <ion-list class="border-vertical ion-margin-vertical ion-padding-vertical">
          <ion-item-group>
            <ion-item-divider class="padding-left-12 no-bottom-border">
              <ion-label>Máy tính</ion-label>
            </ion-item-divider>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of calculators; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" routerLinkActive="selected">
                <ion-col size="2" class="ion-text-center">
                  <fa-icon [icon]="p.icon" size="lg"></fa-icon>
                </ion-col>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>

          <ion-item-group class="ion-margin-top">
            <ion-item-divider class="padding-left-12 no-bottom-border">
              <ion-label>Chuyển đổi</ion-label>
            </ion-item-divider>
            <ion-menu-toggle auto-hide="false" *ngFor="let p of converts; let i = index">
              <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" routerLinkActive="selected">
                <ion-col size="2" class="ion-text-center">
                  <fa-icon [icon]="p.icon" size="lg"></fa-icon>
                </ion-col>
                <ion-label>{{ p.title }}</ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-item-group>
        </ion-list>

        <ion-list class="ion-no-padding">
          <ion-menu-toggle auto-hide="false" *ngFor="let label of labels">
            <ion-item lines="none" (click)="clickLabel(label.url)" button>
              <ion-col size="2" class="ion-text-center">
                <fa-icon [icon]="label.icon" size="lg"></fa-icon>
              </ion-col>
              <ion-label>{{ label.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>